In [16]:
sudoku = [
    [0, 0, 0, 0, 6, 4, 0, 0, 0],
    [7, 0, 0, 0, 0, 0, 3, 9, 0],
    [8, 0, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 5, 0, 2, 0, 6, 0],
    [0, 8, 0, 4, 0, 0, 0, 0, 0],
    [3, 5, 0, 6, 0, 0, 0, 7, 0],
    [0, 0, 2, 0, 0, 0, 1, 0, 3],
    [0, 0, 1, 0, 5, 9, 0, 0, 0],
    [0, 0, 0, 0, 0, 0, 7, 0, 0]
]


count = 0  # Bunu her bir satırı alt alta yazmak için kullanacağız.
print("- - - - - - - - - - - - - - - ")
for i in sudoku:  # sudoku içindeki her bir eleman alındı. (Ama bu elemanlar da bir liste)
    for j in range(len(i)):  # her bir i listesinin eleman sayısı kadar j yi dönder.
        print(i[j], " ", end="")  # burada da her bir i listesinin elemanlarını yanyana boşlukla yazdırırız.
        if (j + 1) == 9:  # Her satır bitiminde
            print()  # bir alt satıra geçmeyi sağlar
            count += 1  # bu count sayısını her bir 3 satırda - yatay çizgi oluşturmak için kullandık
            if count % 3 == 0 and count != 0:
                print("- - - - - - - - - - - - - - - ")
        if (j + 1) % 3 == 0 and j != 0 and j != 8:  # her bir 3 elemanda ve sıfıra ve 8e eşit olmadan | koy satır sonunda | olmaması için 8 e eşitlemedik
            print("| ", end="")

- - - - - - - - - - - - - - -
0  0  0  | 0  6  4  | 0  0  0
7  0  0  | 0  0  0  | 3  9  0
8  0  0  | 0  0  0  | 0  0  0
- - - - - - - - - - - - - - -
0  0  0  | 5  0  2  | 0  6  0
0  8  0  | 4  0  0  | 0  0  0
3  5  0  | 6  0  0  | 0  7  0
- - - - - - - - - - - - - - -
0  0  2  | 0  0  0  | 1  0  3
0  0  1  | 0  5  9  | 0  0  0
0  0  0  | 0  0  0  | 7  0  0
- - - - - - - - - - - - - - -

In [15]:
#  print(type(sudoku))
# print(len(sudoku))
count = 0  # Bunu her bir satırı alt alta yazmak için kullanacağız.
print("- - - - - - - - - - - - - - - ")
for i in sudoku:  # sudoku içindeki her bir eleman alındı. (Ama bu elemanlar da bir liste)
    for j in range(len(i)):  # her bir i listesinin eleman sayısı kadar j yi dönder.
        print(i[j], " ", end="")  # burada da her bir i listesinin elemanlarını yanyana boşlukla yazdırırız.
        if (j + 1) == 9:  # Her satır bitiminde
            print()  # bir alt satıra geçmeyi sağlar
            count += 1  # bu count sayısını her bir 3 satırda - yatay çizgi oluşturmak için kullandık
            if count % 3 == 0 and count != 0:
                print("- - - - - - - - - - - - - - - ")
        if (j + 1) % 3 == 0 and j != 0 and j != 8:  # her bir 3 elemanda ve sıfıra ve 8e eşit olmadan | koy satır sonunda | olmaması için 8 e eşitlemedik
            print("| ", end="")

- - - - - - - - - - - - - - -
0  0  0  | 0  6  4  | 0  0  0
7  0  0  | 0  0  0  | 3  9  0
8  0  0  | 0  0  0  | 0  0  0
- - - - - - - - - - - - - - -
0  0  0  | 5  0  2  | 0  6  0
0  8  0  | 4  0  0  | 0  0  0
3  5  0  | 6  0  0  | 0  7  0
- - - - - - - - - - - - - - -
0  0  2  | 0  0  0  | 1  0  3
0  0  1  | 0  5  9  | 0  0  0
0  0  0  | 0  0  0  | 7  0  0
- - - - - - - - - - - - - - -

In [24]:
x = [([1], [2,3], (4,5,6))]

a = []

for i in x:
    for j in i:
        for z in j:
            a.append(z)
print(a)

[1, 2, 3, 4, 5, 6]

In [25]:
x = [([1], [2,3], (4,5,6))]


{z for i in x for j in i for z in j}

{1, 2, 3, 4, 5, 6}

In [27]:
def equal(a, b, c) :
    numbers = [a, b, c]
    result = numbers.count(max(numbers, key= numbers.count))
    if result > 1 :
        return result
    else:
        return 0
    

equal(2,2,1)

2

In [29]:
def equal(*a) :
    numbers = [*a]
    result = numbers.count(max(numbers, key= numbers.count))
    if result > 1 :
        return result
    else:
        return 0
    

equal(2,2,1,2,2)

4

In [34]:
def equal(*a) :
    numbers = [*a]
    result = numbers.count(max(numbers, key= numbers.count))
    number = max(numbers, key= numbers.count)
    
    if result > 1 :
        print(f"Verilen sayılar içerisinde {number} sayısı {result} defa tekrar etmiştir.")
    else:
        return 0



equal(2,2,1,2)

Verilen sayılar içerisinde 2 sayısı 3 defa tekrar etmiştir.

In [35]:
import pandas

ModuleNotFoundError: No module named 'pandas'

In [37]:
pip install pandas

Requirement already satisfied: pandas in c:\users\selo\appdata\local\programs\python\python39\lib\site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\selo\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\selo\appdata\roaming\python\python39\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\selo\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\selo\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.
WARNING: You are using pip version 20.2.3; however, version 21.1.1 is available.
You should consider upgrading via the 'C:\Users\selo\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [38]:
import pandas

In [39]:
import csv

In [1]:
pip install --upgrade

Note: you may need to restart the kernel to use updated packages.
ERROR: You must give at least one requirement to install (see "pip help install")
WARNING: You are using pip version 20.2.3; however, version 21.1.1 is available.
You should consider upgrading via the 'C:\Users\selo\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [1]:
pip --version

pip 20.2.3 from C:\Users\selo\AppData\Local\Programs\Python\Python39\lib\site-packages\pip (python 3.9)Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
print(pd.read_csv("titanic.csv"))

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [4]:
titanic = pd.read_csv("titanic.csv")

In [5]:
print(titanic)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [9]:
print(titanic[titanic["Sex"] == "female"])

     PassengerId  Survived  Pclass  \
1              2         1       1
2              3         1       3
3              4         1       1
8              9         1       3
9             10         1       2
..           ...       ...     ...
880          881         1       2
882          883         0       3
885          886         0       3
887          888         1       1
888          889         0       3

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
..                                                 ...     ...   ...    ...
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1

     Parch            Ticket     Fare Cabin Embarked
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
8        2            347742  11.1333   NaN        S
9        0            237736  30.0708   NaN        C
..     ...               ...      ...   ...      ...
880      1            230433  26.0000   NaN        S
882      0              7552  10.5167   NaN        S
885      5            382652  29.1250   NaN        Q
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S

[314 rows x 12 columns]

In [10]:
L = ["right 20", "right 30", "left 50", "up 10", "down 20"]
x = y = 0
for i in range(len(L)) :
  if L[i].startswith("r") :  x = x + int(L[i].split()[1])
  elif L[i].startswith("l") :  x = x - int(L[i].split()[1])
  elif L[i].startswith("u") :  y = y + int(L[i].split()[1])
  elif L[i].startswith("d") :  y = y - int(L[i].split()[1])
[x, y]

[0, -10]